body {
    background-color: darkcyan;
}

h1 {
    width: 45%;
    height: 5%;
    color: crimson;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color:hotpink;
}